
@{
    ViewBag.Title = "Speakers";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h2 class="title">Instructor</h2>
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a href="index.html">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">Instructor</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->

<div class="rbt-team-area bg-color-extra2 rbt-section-gap">
    <div class="container">
        <div class="row g-5">

            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail"><img src="~/assets/images/team/team-01.jpg" alt="Corporate Template"></div>
                        <div class="content">
                            <h4 class="title">Zohaib Oneill</h4>
                            <h6 class="subtitle theme-gradient">Math Teacher</h6>
                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->
            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail"><img src="~/assets/images/team/team-02.jpg" alt="Corporate Template"></div>
                        <div class="content">
                            <h2 class="title">Alvin Rivera</h2>
                            <h6 class="subtitle theme-gradient">Depertment Head</h6>
                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->
            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail"><img src="~/assets/images/team/team-03.jpg" alt="Corporate Template"></div>
                        <div class="content">
                            <h2 class="title">Joao Lloyd</h2>
                            <h6 class="subtitle theme-gradient">Math Teacher</h6>
                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->
            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail"><img src="~/assets/images/team/team-04.jpg" alt="Corporate Template"></div>
                        <div class="content">
                            <h2 class="title">Bella</h2>
                            <h6 class="subtitle theme-gradient">Math Teacher</h6>
                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->
            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail"><img src="~/assets/images/team/team-05.jpg" alt="Corporate Template"></div>
                        <div class="content">
                            <h2 class="title">Claudia Pruitt</h2>
                            <h6 class="subtitle theme-gradient">Teacher</h6>
                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->
            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail"><img src="~/assets/images/team/team-06.jpg" alt="Corporate Template"></div>
                        <div class="content">
                            <h2 class="title">Judy Oneill</h2>
                            <h6 class="subtitle theme-gradient">Teacher</h6>
                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->
            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail"><img src="~/assets/images/team/team-07.jpg" alt="Corporate Template"></div>
                        <div class="content">
                            <h2 class="title">Levi Arm</h2>
                            <h6 class="subtitle theme-gradient">Teacher</h6>
                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->
            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail"><img src="~/assets/images/team/team-08.jpg" alt="Corporate Template"></div>
                        <div class="content">
                            <h2 class="title">Fred Guer</h2>
                            <h6 class="subtitle theme-gradient">Economic</h6>
                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->

        </div>

        <div class="row">
            <div class="col-lg-12 mt--60">
                <nav>
                    <ul class="rbt-pagination">
                        <li><a href="#" aria-label="Previous"><i class="feather-chevron-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#" aria-label="Next"><i class="feather-chevron-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>
