
@{
    ViewBag.Title = "create_session";
    Layout = "~/Views/Shared/_MainSpeaker.cshtml";
}

<div class="col-lg-12">
    <div class="rbt-contact-form contact-form-style-1 max-width-auto">
        <div class="section-title text-start">
            <span class="subtitle bg-primary-opacity">For Become a Instructor</span>
        </div>
        <h3 class="title">Instructor Registration</h3>
        <hr class="mb--30">

        <form action="#" class="row row--15">
            <div class="col-lg-6">
                <div class="form-group">
                    <input name="con_name" type="text">
                    <label>First Name</label>
                    <span class="focus-border"></span>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <input name="con_lastname" type="text">
                    <label>Last Name</label>
                    <span class="focus-border"></span>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <input name="con_username" type="text">
                    <label>User name</label>
                    <span class="focus-border"></span>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <input name="con_phone" type="text">
                    <label>Phone Number</label>
                    <span class="focus-border"></span>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <input name="con_email" type="email">
                    <label>Email</label>
                    <span class="focus-border"></span>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="form-group">
                    <input name="con_password" type="password">
                    <label>Password</label>
                    <span class="focus-border"></span>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <input name="con_passwordconfirm" type="password">
                    <label>Password Confirmation</label>
                    <span class="focus-border"></span>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <textarea></textarea>
                    <label>Bio</label>
                    <span class="focus-border"></span>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-submit-group">
                    <button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse w-100">
                        <span class="icon-reverse-wrapper">
                            <span class="btn-text">Become a Instructor</span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>